/input
*.pth
.ipynb_checkpoints/

# Virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE files
.vscode/
.idea/

# Submissions
submission*